/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFD700;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.esconder {
    display: none;
}

/* Estilos para os botões */
button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #FFD700;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para os campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#logo {
    width: 50%;
    /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    /* Isso garante que a proporção da imagem seja mantida */
    max-width: 100%;
    /* Ajusta a largura máxima da imagem para garantir responsividade */
    display: block;
    /* Permite centralizar a imagem horizontalmente */
    margin: 0 auto;
    /* Centraliza a imagem horizontalmente */
}


/* Estilos do menu lateral */

#menu-lateral2 {
    position: fixed;
    top: 0;
    left: -250px;
    /* Inicia fechado */
    width: 250px;
    height: 100%;
    background-color: #000000;
    transition: left 0.3s ease;
    z-index: 10;
}

#menu-lateral2 ul {
    list-style: circle;
    padding: 0;
    margin-top: 100px;
}

#menu-lateral2 li {
    padding: 10px;
}

#menu-lateral2 li a {
    color: #fff;
    text-decoration: none;
}

#menu-lateral2 li button {
    color: #000000;
    text-decoration: none;
    background-color: #FFD700;
}

#menu-lateral2 li button:hover {
    text-decoration: solid;
    background-color: #181818;
    color: #FFD700;
    border: solid 2px #FFD700;
}

/* Estilos do menu lateral */

#menu-lateral {
    position: fixed;
    top: 0;
    left: -250px;
    /* Inicia fechado */
    width: 250px;
    height: 100%;
    background-color: #000000;
    transition: left 0.3s ease;
    z-index: 10;
}

#menu-lateral ul {
    list-style: circle;
    padding: 0;
    margin-top: 100px;
}

#menu-lateral li {
    padding: 10px;
}

#menu-lateral li a {
    color: #fff;
    text-decoration: none;
}

#menu-lateral li button {
    color: #000000;
    text-decoration: none;
    background-color: #FFD700;
}

#menu-lateral li button:hover {
    text-decoration: solid;
    background-color: #181818;
    color: #FFD700;
    border: solid 2px #FFD700;
}

/* Estilos do ícone do menu */
#menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
}

#iconMenu {
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
    float: left;
    /*background-color: rgb(252, 255, 79);*/
    z-index: 9999;
    float: left;
    position: relative;
}

#perfil-professor button:hover {
    background-color: #FFD700;
    color: #000000;
}

/* Estilos para a tela Sobre */
#tela-sobre-prof {
    text-align: justify;
}

#tela-sobre-prof h1 {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
}

#tela-sobre-prof p {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

#tela-sobre-prof ul {
    margin-left: 20px;
}

#tela-sobre-prof li {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
}

#tela-sobre-prof button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #FFD700;
    font-size: 16px;
    cursor: pointer;
}

#tela-sobre-prof button:hover {
    background-color: #FFD700;
    color: #000000;
    border: solid 2px #000000;
}

/* Estilos para a tela Sobre */
#tela-sobre-aluno {
    text-align: justify;
}

#tela-sobre-aluno h1 {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
}

#tela-sobre-aluno p {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

#tela-sobre-aluno ul {
    margin-left: 20px;
}

#tela-sobre-aluno li {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
}

#tela-sobre-aluno button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #FFD700;
    font-size: 16px;
    cursor: pointer;
}

#tela-sobre-aluno button:hover {
    background-color: #FFD700;
    color: #000000;
    border: solid 2px #000000;
}

/* Estilos para a tela de suporte */
#tela-suporte {
    text-align: center;
}

#tela-suporte h1 {
    color: #333;
    /* Cor do texto */
}

#tela-suporte p {
    color: #666;
    /* Cor do texto */
    margin-bottom: 20px;
    /* Espaçamento inferior */
}

#tela-suporte ul {
    list-style: none;
    /* Remover marcadores de lista */
    padding: 0;
    /* Remover o preenchimento padrão */
}

#tela-suporte ul li {
    margin-bottom: 10px;
    /* Espaçamento inferior entre os itens */
    color: #777;
    /* Cor do texto */
}

#tela-suporte button {
    background-color: #000000;
    /* Cor de fundo do botão */
    color: #FFD700;
    /* Cor do texto do botão */
    border: none;
    /* Remover a borda */
    padding: 10px 20px;
    /* Espaçamento interno */
    border-radius: 5px;
    /* Borda arredondada */
    cursor: pointer;
    /* Cursor ao passar por cima */
    transition: background-color 0.3s;
    /* Transição suave da cor de fundo */
}

#tela-suporte button:hover {
    background-color: #FFD700;
    color: #000000;
    border: solid 2px #000000;
}

#tela-iniciar-transmissao {
    display: none;
    /* Estilos para posicionar os elementos, ajustar cores, fontes, etc. */
}

#infoGravacao {
    margin-top: 20px;
}

#infoGravacao label {
    display: block;
    margin-bottom: 5px;
}

#infoGravacao input,
#infoGravacao textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: #FFD700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFD700;
    color: #000000;
    border: solid 2px #000000;
}