/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

.esconder {
    display: none;
}

/* Estilos para os botões */
button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFD700;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos para os campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para o menu lateral */
#menu-lateral {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #FFD700;
    padding-top: 20px;
    transition: 0.5s;
}

#menu-lateral button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#menu-lateral button:hover {
    background-color: #333;
}

.menu-ativo {
    left: 0;
}